body,html{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    letter-spacing: -0.09em;
    color:#1f1f1f;
    font-family: "Noto Sans KR", sans-serif;
    text-decoration: none;
    list-style: none;
}

.main{
    border: 1px solid saddlebrown;
    width:100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    height: 1033px;
}
.header{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    height: 120px;
    align-items: center;

}
.header_menu {
    display: grid;
    grid-template-columns: repeat(6, 150px);
}
.submenu_all{
    grid-template-columns: repeat(6, 300px);
    width:100%;
    height: 450px;
    background-color: rgb(196, 196, 223);
}

.header > div > a{
 margin: 40px;
 
}
.menu_right{
    display: flex;
}
.lang > a{
    font-size: 15pt;
    font-weight: 600;
    color: rgb(59, 59, 59);
}
.lang >a> span{
    vertical-align:middle;
    margin-right: 10px;
}
.hamburger > span{
    font-size: 2rem;
    color:  rgb(59, 59, 59);
}
.submenu_all{
    display: flex;
    line-height: 40px;
}



