html, body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    height: 80px;
    overflow: hidden;
    transition: all 2s;
}
.header{
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    height: 80px;
    line-height: 80px;
}
.logo{
    line-height: 100px;
    padding-left: 30px;
}
.menu_bar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   
}
.wrap:hover {
    height:450px;
}
.header_right{
    display: flex;
    
}
.box{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 350px;
    background-color: rgba(255, 255, 255, 0.2);
    
}
.sub_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.sub_menu >div>div{
    height: 35px;
}
.back_img{
    width: 100%;
    height: 500px;
   background-image:url("../img/background.jpg");
}
