body,html{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.main{
    border: 1px solid saddlebrown;
    width:100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    height: 1033px;
}
.header{
    display: flex;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    height: 120px;
}
.submenu_all{
    grid-template-columns: repeat(6, 300px);
    width:100%;
    height: 450px;
    background-color: rgb(196, 196, 223);
}
